.field-name-commerce-order-total .commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}

.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
}

.products ul{
  display:none;
}

tr.odd {
  background: none repeat scroll 0 0 #FFFFFF;
}

tr.even {
  background: none repeat scroll 0 0 #EFEFEF;
}

.component-title {
  font-weight: bold;
}

table.details td {
  padding: 0 5px;
}

.views-field-commerce-total,
.component-total {
  width: 100px!important;
  text-align: right;
}

.line-items {
  border-bottom: 1px dotted #CCC;
}

/* DWM */

table {
  width:100%;
  border-spacing:0;
  font-size: 14px;
  border-collapse:collapse;
}

table th {
  background: #00A1E1;
  color: #FFF;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
}

table th,
.products table td {
  padding: 10px;
}

.line-items .views-field-line-item-title {
  vertical-align: top;
}

.line-items .views-field-rendered-entity .entity-commerce-line-item > h2 {
  display: none;
}

.line-items .views-field-rendered-entity .entity-commerce-line-item h2.field-label {
  font-size: 14px;
  margin: 0;
  display: inline;
}

.line-items .views-field-rendered-entity .entity-commerce-line-item .field {
  margin: 5px 0;
}

.line-items .views-field-rendered-entity .entity-commerce-line-item .field-items,
.line-items .views-field-rendered-entity .entity-commerce-line-item .field-item {
  display: inline;
}

.total table.commerce-price-formatted-components {
  width: 100%;
  float: right;
}

.total table.commerce-price-formatted-components td{
  padding: 10px;
}

.total td {
  width: 75%;
}
.total td.price {
  width:25%;
}

.footer { background-color: #00A1E1; color: #fff; padding: 1em; font-size: 0.9em; font-weight: bold; line-height: 1.6em; text-align: center;}